body {
  font-family: 'Roboto', sans-serif;
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fffffe;
}

h1{
  background: #44606d;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.fa-plus{
  float:right;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  background: rgb(120, 120, 120);
  height: 40px;
  line-height: 40px;
  color: rgb(203, 203, 203);
}

li:nth-child(2n){
 background:#6c6b6b;
}

span{
  background: rgb(87, 122, 140);
  color: rgb(160, 158, 158);
  height: 40px;
  width: 0;
  margin-right: 5px;
  text-align:center;
  display: inline-block;
  transition: 0.2s linear;
  visibility: hidden;
}

li:hover span{
  width: 40px;
  visibility: visible;
}

input{
  font-size: 18px;
  background:#6c6b6b; 
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: rgb(203, 203, 203);
}

input:focus{
  background:rgb(140, 139, 139);
  border: 3px solid #605f5f;
}

#container {
  width: 360px;
  margin: 100px auto;
  background: #605f5f;
  box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

.completed {
  color: #a3c1d0;
  text-decoration: line-through;
}